
img{
	width: 300px;
}

#image0{
	display: none;
}
#image1{
	display: none
}
#image2{
	display: none
}
#image3{
	display: none
}
#image4{
	display: none
}
#image5{
	display: none
}
#image6{
	
}

body{
	
	background-color: rgb(139, 202, 205);

}